/* BASICS */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}
body {
  background: #f0dbc9;
  color: rgb(84, 40, 98);
  font-size: 1.6rem;
}
a, a:visited {
  color: inherit;
  text-decoration: none;
}
/* GAME */
.bench {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  height: 37.2rem;
  margin: 0 auto;
  overflow: hidden;
}
.workspace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem;
}
.pcb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  background: rgb(253,250,249);
  color: rgb(101,12,19);
  border: 1px solid rgb(229,223,210);
  border-radius: 0.5rem;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.tray {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  display: none;
}
h1 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: .1.2rem;
}
.sockets {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.socket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  box-shadow:
    inset 0 0 0 .1rem currentColor
  ;
}
.socket + .socket {
  margin-left: 1.5rem;
}
.socket.powered {
  color: rgb(207, 114, 131);
}
.socket.picked {
}
.trace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.pads {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.3rem;
}
.pads:before {
  display: none;
  position: absolute;
  content: '|';
  text-shadow: 0 0 .4rem rgba(100,100,100,.9);
  color: transparent;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.picked .pads:before {
  display: block;
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: .8rem;
  background: #d4af36;
  border-radius: 50%;
}
.pad:before {
  content: '';
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: #f0dbc9;
  box-shadow:
    inset 0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.cutout {
  width: 1.5rem;
  height: 0.75rem;
  background: rgb(253,250,249);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border: .1rem solid currentColor;
  border-top: 0;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#power {
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid rgb(50, 49, 55);
  border-radius: 2.4rem;
}
.lcd {
  display: flex;
  flex-direction: column;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-family: monospace;
  color: #fee;
  text-shadow:
    0 0 .3rem rgba(255,0,84,.6)
  , 0 0 .6rem rgba(255,0,84,.4)
  , 0 0 .9rem rgba(255,0,84,.2)
  , 0 0  1rem rgba(255,0,85,.1)
  , 0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.lcd > .pins {
  flex-direction: row;
}
.lcd > .chip {
  padding: 0;
}
.lcd .inset {
  border: .2rem solid rgb(112,112,114);
  border-top-color: rgb(50,49,55);
  border-left-color: rgb(50,49,55);
}
#chip0,
#chip1,
#chip2 {
  display: flex;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
}
.dip {
  display: flex;
  flex-direction: row;
  color: rgb(156, 148, 121);
}
.pins {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}
.pin {
  width: 0.5rem;
  height: 0.75rem;
  background: silver;
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(51,51,51);
}
.chip {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  background: rgb(82, 83, 85);
  border: 0.3rem solid rgb(50,49,55);
  border-top-color: rgb(112,112,114);
  border-left-color: rgb(112,112,114);
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(51,51,51);
}
.led {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow:
    rgba(0,0,0,.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,1) 0 -1px 3px
  ;
}
.led.on {
  box-shadow:
    rgba(0,0,0,0.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,.5) 0 -1px 6px
  , currentColor 0 0 6px
  ;
}
.moons {
  color: rgb(213, 94, 0);
}
.suns {
  color: rgb(230, 159, 0);
}
.waves {
  color: rgb(240, 228, 66);
}
.leaves {
  color: rgb(0, 158, 115);
}
.wyrms {
  color: rgb(0, 144, 178);
}
.knots {
  color: rgb(204, 121, 167);
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}
.colophon {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 1rem auto;
  color: rgba(0,0,0,.3);
}
.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}
abbr[title="and"] {
  font-family: "Adobe Caslon Pro","Baskerville","Goudy Old Style","Palatino", "Palatino Linotype","Book Antiqua","Georgia","Times New Roman","Times", serif;
  font-style: italic;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
