/* BASICS */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}
body {
  background: #f0dbc9;
  background: #333;
  color: rgb(84, 40, 98);
  font-size: 1.6rem;
}
a, a:visited {
  color: inherit;
  text-decoration: none;
}
/* GAME */
.bench {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  min-height: 37.2rem;
  /* overflow: hidden; */
  margin: 0 auto;
  padding: .5rem;
  background-color: rgb(235,245,233);
  background-image: linear-gradient(rgba(161,192,163,.5) 2px, transparent 2px),
  linear-gradient(90deg, rgba(161,192,163,.5) 2px, transparent 2px),
  linear-gradient(rgba(161,192,163,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(161,192,163,.3) 1px, transparent 1px);
  background-size:8rem 8rem, 8rem 8rem, 2rem 2rem, 2rem 2rem;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.workspace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pcb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  background: rgb(253,250,249);
  color: rgb(101,12,19);
  border: 1px solid rgb(229,223,210);
  border-radius: 0.5rem;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
  background:
  radial-gradient(circle farthest-side at 0% 50%,rgb(253,250,249) 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,rgba(229,223,210,.3) 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(rgb(253,250,249) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,rgb(253,250,249) 0)0 0,
  linear-gradient(150deg,rgb(253,250,249) 24%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 76%,rgb(253,250,249) 0)0 0,
  linear-gradient(30deg,rgb(253,250,249) 24%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 76%,rgb(253,250,249) 0)0 0,
  linear-gradient(90deg,rgba(229,223,210,.3) 2%,rgb(253,250,249) 0,rgb(253,250,249) 98%,rgba(229,223,210,.3) 0%)0 0 rgb(253,250,249);
  background-size:40px 60px;
}
.tray {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sockets {
  display: flex;
  flex-direction: row;
}
.socket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
}
.socket.chipped.picked .chip,
.socket.powered .chip {
  color: #fee;
  text-shadow:
    0 0 .3rem rgba(255,0,84,.6)
  , 0 0 .6rem rgba(255,0,84,.4)
  , 0 0 .9rem rgba(255,0,84,.2)
  , 0 0  1rem rgba(255,0,85,.1)
  , 0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.trace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3.6rem;
  height: 100%;
  border: .1rem solid currentColor;
}
.pads:first-child {
  margin-left: -.6rem;
}
.pads:last-child {
  margin-right: -.6rem;
}
.pads {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: .8rem;
  background: silver;
  border-radius: 50%;
}
.pad:before {
  content: '';
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: rgb(235,245,233);
  box-shadow:
    inset 0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.picked .pad {
  background: #d4af36;
}
.cutout {
  width: 1.5rem;
  height: 0.75rem;
  background: rgb(253,250,249);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border: .1rem solid currentColor;
  border-top: 0;
  margin-top: -.1rem;
}
.jumpers {
  display: flex;
  flex-direction: column;
}
.jumper {
  color: transparent;
  background: currentColor;
}
.vjumpers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.vjumpers .jumper {
  width: .1rem;
  height: 1.5rem;
  box-shadow:
    0 0 .3rem 0 currentColor
  ;
}
.hjumpers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.8rem;
}
.hjumpers .jumper {
  width: 1.5rem;
  height: .1rem;
  box-shadow:
     .8rem 0  0    0 currentColor
  ,  .8rem 0 .3rem 0 currentColor
  , -.8rem 0  0    0 currentColor
  , -.8rem 0 .3rem 0 currentColor
  ;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.power {
  display: flex;
  flex-direction: row;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 4.8rem;
  min-height: 4.8rem;
}
.button .pin {
  width: .75rem;
  height: .5rem;
}
.button .chip {
  padding: .5rem;
}
.button .knob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-top: .1rem solid #fff;
  border-radius: 50%;
  background-color:#eeeeee;
  background: linear-gradient(#edeae1, #cdc8b5);
  box-shadow:
    0 .1rem .1rem .15rem rgba(158, 158, 158, 0.4)
  , 0 .15rem .25rem #b7b6b6
  , 0 0 0 .1rem #bbb7ae
  , inset 0 -.15rem .05rem .1rem rgba(186, 178, 165, 0.5)
  , inset 0 .15rem .05rem .1rem rgba(246, 245, 241, 0.3)
  ;
  cursor: pointer;
}
.button.on .knob {
  border-top:none;
  border: .1rem solid #BAB7AE;
  background-color:#EEEEEE;
  box-shadow:  0 0 0 0 #BBB7AE;
}
.button .caption {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: lowercase;
  margin-top: .5rem;
}
.button .dimple {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  box-shadow:
    inset 0 .1rem .1rem .1rem #7e7e7e
  , 0 .1rem .1rem #fff
  ;
}
.counters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.indicators .led {
  color: rgb(0,114,178);
}
.lcd {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-family: Courier,'Courier New',monospace;
  color: #fee;
  text-shadow:
    0 0 .3rem rgba(255,0,84,.6)
  , 0 0 .6rem rgba(255,0,84,.4)
  , 0 0 .9rem rgba(255,0,84,.2)
  , 0 0  1rem rgba(255,0,85,.1)
  , 0.1rem 0.1rem 0.3rem rgb(51,51,51)
  ;
}
.lcd > .pins {
  flex-direction: row;
}
.lcd > .chip {
  padding: 0;
}
.lcd .inset {
  border: .2rem solid rgb(112,112,114);
  border-top-color: rgb(50,49,55);
  border-left-color: rgb(50,49,55);
}
#chip0,
#chip1,
#chip2 {
  display: flex;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
}
.dip {
  display: flex;
  flex-direction: row;
  color: rgb(156, 148, 121);
}
.pins {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}
.pin {
  width: 0.5rem;
  height: 0.75rem;
  background: silver;
  background: linear-gradient(-45deg, rgb(160,160,160) 0%, rgb(232,232,232) 56%);
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(51,51,51);
}
.chip {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgb(82, 83, 85);
  border: 0.3rem solid rgb(50,49,55);
  border-top-color: rgb(112,112,114);
  border-left-color: rgb(112,112,114);
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(51,51,51);
  z-index: 1;
}
.led {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow:
    rgba(0,0,0,.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,1) 0 -1px 3px
  ;
}
.led.off {
  box-shadow:
    rgba(0,0,0,.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,1) 0 -1px 6px
  ;
}
.led.on {
  box-shadow:
    rgba(0,0,0,0.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,.5) 0 -1px 6px
  , currentColor 0 0 6px
  ;
}
.led.blink {
  animation: blinky 1s infinite;
}
@keyframes blinky {
to {
  box-shadow:
    rgba(0,0,0,.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,1) 0 -1px 6px
  ;
}
50% {
  box-shadow:
    rgba(0,0,0,0.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,.5) 0 -1px 6px
  , currentColor 0 0 6px
  ;
}
to {
  box-shadow:
    rgba(0,0,0,.2) 0 -1px 4px 1px
  , inset rgba(0,0,0,1) 0 -1px 6px
  ;
}
}
.moons {
  color: rgb(213, 94, 0);
}
.suns {
  color: rgb(230, 159, 0);
}
.waves {
  color: rgb(240, 228, 66);
}
.leaves {
  color: rgb(0, 158, 115);
}
.wyrms {
  color: rgb(0, 144, 178);
}
.knots {
  color: rgb(204, 121, 167);
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}
.hidden {
  display: none;
}
/* Notes */
.note {
  margin: 1.6rem 2rem 0 1rem;
  padding: 1rem 1rem 1.8rem 1rem;
  letter-spacing: -.1rem;
  color: rgba(0,0,0,.5);
  background: #ffc;
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,.3);
  transform: rotate(-3deg);
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.note + .note {
  transform: rotate(2deg);
  margin: 3.2rem 1rem 0 2rem;
}
.note > h3 {
  font-size: 1.6rem;
  margin-bottom: .8rem;
}
.note > ol {
  list-style-position: inside;
}
.colophon {
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(0,0,0,.5);
  margin-top: 1rem;
  text-align: right;
}
.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}
abbr[title="and"] {
  font-family: "Adobe Caslon Pro","Baskerville","Goudy Old Style","Palatino", "Palatino Linotype","Book Antiqua","Georgia","Times New Roman","Times", serif;
  font-style: italic;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
